{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ tittle }}</title>
</head>
<body>
    <link rel="stylesheet" href="{% static 'main_page/css/main.css' %}">
    <h1></h1>
    <div class="hero">
    <div class="hero-container">
           {% for m in menu %}
      <div class="courses">
          <li class="courses-list-item"><a href="{{ m.url_name }}" class="course">{{ m.tittle }}</a></li>
          {% endfor %}
          <span class="user">
            {% if request.user.is_authenticated %}
                Hello {{ request.user.first_name }},
                <a href="{% url 'logout' %}">Выход</a>
            {% else %}
                <a href="{% url 'login' %}"></a>
            {% endif %}
        </span>
      </div>
    </div>
  </div>
</body>
</html>