<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ tittle }}</title>
</head>
<body>
<h1>{{ tittle }}</h1>
{% for m in menu %}
<p><a href="{{ m.url_name }}">{{ m.tittle }}</a></p>
{% endfor %}
    <span class="user">
        {% if request.user.is_authenticated %}
            Hello {{ request.user.first_name }},
            <a href="{% url 'logout' %}">Выход</a>
        {% else %}
            <a href="{% url 'login' %}">Вход</a>
        {% endif %}
    </span>
</div>
</body>
</html>